<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-8 px-0">
    <h1 class="display-4 font-italic"><%= @blogs.first.title %></h1>
    <p class="lead my-3"><%= markdown truncate(@blogs.first.body, length: 250) %></p>
    <p class="lead mb-0"><a href="#" class="ont-weight-bold"><%= link_to "Continue reading...", @blogs.first, class: "text-white"  %></a></p>
  </div>
</div>