<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">Working to empower people with reliable and efficient software.</p>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/jkvyff"><%= fa_icon "github"%></a></li>
      <li><a href="https://twitter.com/jkvyff"><%= fa_icon "twitter"%></a></li>
      <li><a href="https://www.linkedin.com/in/jenskvyff/"><%= fa_icon "linkedin"%></a></li>
    </ol>
  </div>
</aside>