<div class="album py-5 bg-light">
  <div class="container">
    <div class="row" id="sortable-projects" data-url="<%= sort_projects_path %>">
      <%= render partial: 'portfolio_project', collection: @portfolio_projects %>
    </div>
  </div>
</div>